@import url(normalize.css);
@import url(syntax.css);

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$codeFont: Inconsolata,Monaco, Consolas,"Courier New",Courier, monospace;
$numberFont: Helvetica,sans_serif;

$blue: #092237;
$gray: #535658;
$lightGray: #b5bcc3;
$ghGray: #d0d7de;
$codeColor: #eceff1;

$fontSize-root: 16px;
$lineHeight-tight: 1.125rem;
$lineHeight-normal: 1.5rem;
$lineHeight-relaxed: 1.625rem;

$spacing-px: 1px;
$spacing-1: 0.5rem;
$spacing-2: 1rem;
$spacing-3: 1.5rem;
$spacing-4: 2rem;
$spacing-5: 2.5rem;
$spacing-6: 3rem;
$spacing-7: 3.5rem;
$spacing-8: 4rem;

$fontSize-1: 0.75rem;
$fontSize-2: 1rem;
$fontSize-3: 1.125rem;
$fontSize-4: 1.25rem;
$fontSize-5: 1.5rem;
$fontSize-6: 2rem;
$fontSize-7: 2.5rem;
$fontSize-8: 3rem;

/* HTML elements */

html {
  font-size: $fontSize-root;
  line-height: $lineHeight-normal;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

hr {
  background: $lightGray;
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $bodyColor;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: $spacing-3;
  margin-bottom: $spacing-2;
}

h1 {
  font-size: $fontSize-6;
  margin-top: $spacing-3;
  margin-bottom: $spacing-3;
}

h2 {
  font-size: $fontSize-5;
}

h3 {
  font-size: $fontSize-4;
}

h4 {
  font-size: $fontSize-3;
}

h5 {
  font-size: $fontSize-2;
}

h6 {
  font-size: $fontSize-1;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

a {
  color: inherit;
}

ul,
ol {
  padding: $spacing-px;
  margin: 0 0 $spacing-3 $spacing-3;
}

ul {
  list-style-type: circle;
}

blockquote {
  border-left: .5rem solid $ghGray;
  margin-left: .5rem;
  padding: 0 0 0 .5rem;
}

p > code {
  padding: 1px;
  font-family: $codeFont;
  font-size: $fontSize-2;
  background: $codeColor;
}

code {
  font-family: $codeFont;
}

pre {
  border: solid 1px $ghGray;
  border-radius: 6px;
  font-size: $fontSize-1;
  line-height: $lineHeight-tight;
  padding: $spacing-2;
  overflow-x: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid $bodyColor;
}

img {
  display: block;
  margin: 0 auto;
}